# requirements.txt
Django
tailwind
djangorestframework>=3.12,<4.0
djangorestframework-simplejwt>=4.6,<5.0
djangorestframework-jwt>=1.11,<2.0
psycopg2>=2.9,<3.0
django-cors-headers>=3.10,<4.0
Pillow
django-tailwind>=2.0,<3.0
django-widget-tweaks>=1.4,<2.0
django-leaflet>=0.26,<1.0
gunicorn
