<!-- navbar.html -->
<nav class="bg-blue-700 text-white shadow-lg" 
     x-data="{ open: false, formUrl: '' }">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between items-center h-16">
      
      <!-- Test โลโก้ -->
      <div class="flex items-center space-x-2">
        <a href="{% url 'home' %}" class="text-2xl font-bold">VSwap</a>
      </div>

      <!-- เมนู -->
      <div class="hidden md:flex space-x-6">
        <a href="{% url 'home' %}" 
           class="px-3 py-1 bg-white text-blue-600 rounded-lg hover:bg-gray-100">
            หน้าแรก
        </a>
        <a href="{% url 'post_list' %}" 
           class="px-3 py-1 bg-white text-blue-600 rounded-lg hover:bg-gray-100">
            โพสต์ทั้งหมด
        </a>
        <a href="{% url 'map' %}" 
           class="px-3 py-1 bg-white text-blue-600 rounded-lg hover:bg-gray-100">
            แผนที่
        </a>
      </div>

      <!-- ส่วน Login/Logout -->
      <div class="hidden md:flex items-center space-x-4">
        {% if user.is_authenticated %}
          <a class="text-white font-semibold mr-4">
            สวัสดี {{ user.username }}
          </a>
          <a href="{% url 'profile' %}" 
             class="button px-3 py-1 bg-white text-blue-600 rounded-lg hover:bg-gray-100">
            โปรไฟล์
          </a>
          {% if request.resolver_match.url_name == "profile" %}
          <a href="{% url 'logout' %}" 
             class="px-3 py-1 bg-red-500 text-white rounded-lg hover:bg-red-800">
             ออกจากระบบ
          </a>
          {% endif %}
        {% else %}
          <a href="{% url 'login' %}" 
             class="px-3 py-1 bg-white text-blue-600 rounded-lg hover:bg-gray-100">
            ล็อกอิน
          </a>
        {% endif %}
      </div>

      <!-- Hamburger -->
      <div class="md:hidden">
        <button id="menu-btn" class="focus:outline-none">
          <!-- ไอคอน -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" 
               viewBox="0 0 24 24" stroke-width="1.5" 
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" 
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
    </div>
  </div>


</nav>
